07-photos/pictures/

# custom gallery
08-custom-galery/myPic/full-size/
08-custom-galery/myPic/preview/

# custom gallery++
08-custom-galery++/pictures/full-size
08-custom-galery++/pictures/preview

# custom gallery-dedicnost
08-custom-gallery-dedicnost/pictures/full-size
08-custom-gallery-dedicnost/pictures/preview

09-upload/images/

